.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    @include respond-to-down('lg'){
        flex-direction: row;
        margin-top: 0;
    }
}